* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// @function weight($weight-name) {
//     @return map-get($font-weights, $weight-name);
// }

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin transition-ease-in {
    transition: all 0.3s ease-in;
}